## Q1

In [1]:
require(mice)
data1 <- nhanes
data1

Loading required package: mice
Warning message:
"package 'mice' was built under R version 3.6.3"
Attaching package: 'mice'

The following object is masked from 'package:stats':

    filter

The following objects are masked from 'package:base':

    cbind, rbind

   age bmi  hyp chl
1  1     NA NA   NA
2  2   22.7  1  187
3  1     NA  1  187
4  3     NA NA   NA
5  1   20.4  1  113
6  3     NA NA  184
7  1   22.5  1  118
8  1   30.1  1  187
9  2   22.0  1  238
10 2     NA NA   NA
11 1     NA NA   NA
12 2     NA NA   NA
13 3   21.7  1  206
14 2   28.7  2  204
15 1   29.6  1   NA
16 1     NA NA   NA
17 3   27.2  2  284
18 2   26.3  2  199
19 1   35.3  1  218
20 3   25.5  2   NA
21 1     NA NA   NA
22 1   33.2  1  229
23 1   27.5  1  131
24 3   24.9  1   NA
25 2   27.4  1  186

In [2]:
# (a)
imiss = 0
for (i in 1:nrow(data1)){
    row <- data1[i,]
    if(is.na(row$age) | is.na(row$bmi) | is.na(row$hyp) | is.na(row$chl)){
        imiss = imiss + 1
    }
}

imiss/nrow(data1)

[1] 0.48

In [4]:
#(b)
# impute data using mice. REPEAT THIS FOR M=100 INSTEAD OF M=5!!
imp_default <- mice(data = data1, m=5,  seed = 1, printFlag = FALSE)

In [5]:
fit <- with(data = imp_default, exp = lm(bmi ~ hyp + chl +  age))
print(pool(fit))

Class: mipo    m = 5
         term m    estimate         ubar            b            t dfcom
1 (Intercept) 5 19.61789252 10.588884721 0.8662133972 11.628340797    21
2         hyp 5  2.19701748  2.886391704 1.2976511612  4.443573098    21
3         chl 5  0.05378081  0.000287288 0.0001046083  0.000412818    21
4         age 5 -3.55287155  0.744810536 1.3585594461  2.375081872    21
         df        riv     lambda       fmi
1 16.936189 0.09816483 0.08938989 0.1807424
2  9.035494 0.53949067 0.35043452 0.4583762
3 10.228828 0.43694808 0.30408063 0.4092932
4  3.528053 2.18884032 0.68640637 0.7824821

In [6]:
# repeating the analysis for seed = {2,3,4,5}
imp_2 <- mice(data = data1, m = 5, seed = 2, printFlag = FALSE)
imp_3 <- mice(data = data1, m = 5, seed = 3, printFlag = FALSE)
imp_4 <- mice(data = data1,  m = 5, seed = 4, printFlag = FALSE)
imp_5 <- mice(data = data1,  m = 5, seed = 5, printFlag = FALSE)

In [7]:
fit_2 <- with(data = imp_2, exp = lm(bmi ~ hyp + chl +  age))
print(pool(fit_2))

Class: mipo    m = 5
         term m   estimate         ubar            b            t dfcom
1 (Intercept) 5 19.9464142 11.149036812 6.5759123307 19.040131609    21
2         hyp 5  1.5304762  3.480239781 0.4843237089  4.061428231    21
3         chl 5  0.0628349  0.000345515 0.0001210591  0.000490786    21
4         age 5 -4.0615093  0.963673574 0.5429846700  1.615255178    21
         df       riv    lambda       fmi
1  7.595481 0.7077826 0.4144454 0.5249745
2 15.210844 0.1669967 0.1430995 0.2372083
3 10.450088 0.4204476 0.2959966 0.4006804
4  7.827560 0.6761435 0.4033924 0.5135940

In [8]:
fit_3 <- with(data = imp_3, exp = lm(bmi ~ hyp + chl +  age))
print(pool(fit_3))

Class: mipo    m = 5
         term m    estimate         ubar            b            t dfcom
1 (Intercept) 5 20.55844343 1.140358e+01 3.6461139762 1.577892e+01    21
2         hyp 5  1.35281238 2.848804e+00 1.6505168435 4.829425e+00    21
3         chl 5  0.05872834 3.258177e-04 0.0003485725 7.441047e-04    21
4         age 5 -3.85753338 9.589920e-01 1.1476609660 2.336185e+00    21
         df       riv    lambda       fmi
1 10.976712 0.3836809 0.2772900 0.3807063
2  7.685607 0.6952461 0.4101152 0.5205225
3  5.059752 1.2838067 0.5621346 0.6707894
4  4.685401 1.4360840 0.5895051 0.6963297

In [9]:
fit_4 <- with(data = imp_4, exp = lm(bmi ~ hyp + chl +  age))
print(pool(fit_4))

Class: mipo    m = 5
         term m    estimate         ubar            b            t dfcom
1 (Intercept) 5 19.39540373 1.111012e+01 1.4019630652 1.279247e+01    21
2         hyp 5  2.75053046 3.247001e+00 0.6600844963 4.039103e+00    21
3         chl 5  0.04920611 2.813334e-04 0.0001157514 4.202351e-04    21
4         age 5 -3.50603350 8.876847e-01 0.2073486445 1.136503e+00    21
         df       riv    lambda       fmi
1 15.591350 0.1514256 0.1315114 0.2249407
2 13.470677 0.2439486 0.1961083 0.2937232
3  9.532048 0.4937264 0.3305334 0.4373741
4 12.740142 0.2803004 0.2189333 0.3181785

In [10]:
fit_5 <- with(data = imp_5, exp = lm(bmi ~ hyp + chl +  age))
print(pool(fit_5))

Class: mipo    m = 5
         term m    estimate         ubar            b            t dfcom
1 (Intercept) 5 19.17135935 1.146234e+01 9.016196e+00 2.228178e+01    21
2         hyp 5  1.50954775 3.548122e+00 4.331055e+00 8.745388e+00    21
3         chl 5  0.06081272 3.331396e-04 8.509425e-05 4.352527e-04    21
4         age 5 -3.49672250 9.930838e-01 6.803640e-01 1.809521e+00    21
         df       riv    lambda       fmi
1  6.252823 0.9439114 0.4855733 0.5967667
2  4.622453 1.4647938 0.5942866 0.7007388
3 12.250235 0.3065175 0.2346065 0.3349844
4  6.870551 0.8221228 0.4511896 0.5623912