## Q1

In [3]:
require(mice)
data1 <- nhanes
data1

Loading required package: mice
Warning message:
"package 'mice' was built under R version 3.6.3"
Attaching package: 'mice'

The following object is masked from 'package:stats':

    filter

The following objects are masked from 'package:base':

    cbind, rbind

   age bmi  hyp chl
1  1     NA NA   NA
2  2   22.7  1  187
3  1     NA  1  187
4  3     NA NA   NA
5  1   20.4  1  113
6  3     NA NA  184
7  1   22.5  1  118
8  1   30.1  1  187
9  2   22.0  1  238
10 2     NA NA   NA
11 1     NA NA   NA
12 2     NA NA   NA
13 3   21.7  1  206
14 2   28.7  2  204
15 1   29.6  1   NA
16 1     NA NA   NA
17 3   27.2  2  284
18 2   26.3  2  199
19 1   35.3  1  218
20 3   25.5  2   NA
21 1     NA NA   NA
22 1   33.2  1  229
23 1   27.5  1  131
24 3   24.9  1   NA
25 2   27.4  1  186

In [18]:
#(a)

lenna = 0
len = 0
for (col in colnames(data1)){
    indna <- which(is.na(data1[[col]]) == TRUE)
    ind <- which(is.na(data1[[col]]) == FALSE)
    #print(data1[[col]])
    len = len + length(ind)
    lenna = lenna + length(indna)
}
#ind <- which(is.na(data1$WC) == FALSE)

In [19]:
lenna/len

[1] 0.369863

In [13]:
imiss = 0
for (i in 1:nrow(data1)){
    row <- data1[i,]
    if(is.na(row$age) | is.na(row$bmi) | is.na(row$hyp) | is.na(row$chl)){
        imiss = imiss + 1
    }
}

imiss/nrow(data1)

[1] 0.48

In [15]:
#(b)
# impute data using mice. REPEAT THIS FOR M=100 INSTEAD OF M=5!!!
imp_default <- mice(data = data1, seed = 1, printFlag = FALSE)

In [19]:
fit <- with(data = imp_default, exp = lm(bmi ~ hyp + chl +  age))
print(pool(fit))

Class: mipo    m = 5
         term m    estimate         ubar            b            t dfcom
1 (Intercept) 5 19.61789252 10.588884721 0.8662133972 11.628340797    21
2         hyp 5  2.19701748  2.886391704 1.2976511612  4.443573098    21
3         chl 5  0.05378081  0.000287288 0.0001046083  0.000412818    21
4         age 5 -3.55287155  0.744810536 1.3585594461  2.375081872    21
         df        riv     lambda       fmi
1 16.936189 0.09816483 0.08938989 0.1807424
2  9.035494 0.53949067 0.35043452 0.4583762
3 10.228828 0.43694808 0.30408063 0.4092932
4  3.528053 2.18884032 0.68640637 0.7824821

In [25]:
# repeating the analysis for seed = {2,3,4,5}
imp_2 <- mice(data = data1, seed = 2, printFlag = FALSE)
imp_3 <- mice(data = data1, seed = 3, printFlag = FALSE)
imp_4 <- mice(data = data1, seed = 4, printFlag = FALSE)
imp_5 <- mice(data = data1, seed = 5, printFlag = FALSE)

In [26]:
fit_2 <- with(data = imp_2, exp = lm(bmi ~ hyp + chl +  age))
print(pool(fit_2))

  term        estimate   std.error  statistic df        p.value
1 (Intercept) 19.9464142 4.36349993  4.571196  7.595481 0.002083932
2 hyp          1.5304762 2.01529855  0.759429 15.210844 0.459204412
3 chl          0.0628349 0.02215369  2.836317 10.450088 0.016956575
4 age         -4.0615093 1.27092690 -3.195706  7.827560 0.013061972

In [27]:
fit_3 <- with(data = imp_3, exp = lm(bmi ~ hyp + chl +  age))
print(pool(fit_3))

  term        estimate    std.error  statistic  df        p.value
1 (Intercept) 20.55844343 3.97226884  5.1754914 10.976712 0.000307981
2 hyp          1.35281238 2.19759517  0.6155876  7.685607 0.555952054
3 chl          0.05872834 0.02727828  2.1529340  5.059752 0.083285020
4 age         -3.85753338 1.52845844 -2.5238065  4.685401 0.056159642

In [28]:
fit_4 <- with(data = imp_4, exp = lm(bmi ~ hyp + chl +  age))
print(pool(fit_4))

  term        estimate    std.error  statistic df        p.value
1 (Intercept) 19.39540373 3.57665642  5.422775 15.591350 6.168639e-05
2 hyp          2.75053046 2.00975193  1.368592 13.470677 1.935191e-01
3 chl          0.04920611 0.02049964  2.400340  9.532048 3.842988e-02
4 age         -3.50603350 1.06606899 -3.288749 12.740142 6.017910e-03

In [29]:
fit_5 <- with(data = imp_5, exp = lm(bmi ~ hyp + chl +  age))
print(pool(fit_5))

  term        estimate    std.error  statistic  df        p.value
1 (Intercept) 19.17135935 4.72035771  4.0614209  6.252823 0.006088277
2 hyp          1.50954775 2.95726023  0.5104548  4.622453 0.633158537
3 chl          0.06081272 0.02086271  2.9149004 12.250235 0.012719752
4 age         -3.49672250 1.34518423 -2.5994376  6.870551 0.036037680